<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>
    body {
      font-size: 18px;
    }

    td {
      vertical-align: top;
    }
  </style>
</head>
<body>
  <header>
    Hi, <i>Friend</i>, to <b>Hacker Clone</b>
    <div style="float: right;">
      <button onclick="window.location.href = '/login'">Login</button>
      <button onclick="window.location.href = '/signup'">Sign Up</button>
      <button onclick="window.location.href = '/submission'">Submit</button>
      <button onclick="window.location.href = '/logout'">Log Out</button>
    </div>
  </header>
  <hr>
  {% block content %}
  {% endblock %}
</body>
</html>
