{% extends "base.html" %}

{% block content %}
<table>
  {% for post_user in posts_users %}
  {% set p =  post_user[0] %}
  {% set u = post_user[1] %}
  <tr>
    <td>{{ loop.index }}. </td>
    <td>
      <a href="{{ p.link }}">{{ p.title }}</a>
      <br>
      <small>submitted by <a href="/user/{{ u.username }}">{{ u.username }}</a></small>
      <small><a href="/post/{{ p.id }}">comments</a></small>
      <br>
      <small>{{ p.created_at }}</small>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
